#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  height:88vh;
  justify-content: space-evenly;
  font-family: 'Trebuchet MS' ,sans-serif;
}
.welcomePage{
  color: #ffffff; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
.startMenuTitles h1{
  font-size: 64px;
  margin: 0;
}
.startMenuTitles h2{
  font-size: 50;
  margin: 0;
}
.startMenu{
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
}
.startMenu button{
  background-color: transparent;
  border-width: 4px;
  border-color: #ffdd00;
  cursor: pointer;
  color: #ffdd00;
  font-family: 'Trebuchet MS' ,sans-serif;
  width:10rem;
  height: 3rem;
  font-size: large;
}
.gamePageUp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.gamePageUp h2{
  color: #ffff;
  font-size: xx-large;
}
.gamePageUp p{
  color: #ffff;
  font-size: large;
}
.controls{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.options{
  display: flex;
   gap: 10%;
  justify-content: center;
  margin-bottom: 30vh;
}
.controls button{
     background-color: transparent;
    border-width: 5px;
    border-color: #ffdd00;
    color: #ffdd00;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 18px;
}
.coin {
  width: 140px;
  height: 140px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  margin: 40px auto;
}

.coin-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 26px;
  color: #fff;
  backface-visibility: hidden;
  box-shadow: 0 0 20px rgba(255, 217, 2, 0.4);
background: radial-gradient(circle at 70% 70%, #ffd700, #b8860b 80%);
}
.coin-face.back {
  transform: rotateY(180deg);
background: radial-gradient(circle at 70% 70%, #ffd700, #b8860b 80%);
  color: #fff;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 26px;
}

.ShopPage {
  text-align: center;
  padding: 0px;
  color: white;
  min-height: 100vh;
}
.shop-section {
  margin: 40px 0;
}
.shop-section h2 {
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffd700;
  font-size: 1.5rem;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.3);
}
.products
{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 25px;
  justify-items: center;
}
.back{
  background-color: transparent;
    border-width: 5px;
    border-color: #ffdd00;
    color: #ffdd00;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 18px;
}