.navBarLeft{
    display: flex;
    align-items: center;
}
.navBarLeft img{
    width: 40px;
    height: 40px;
    margin-right: 7px;
}
.navBarLeft p{
    font-size: 20px;
  color: #ffdd00;
}
.nav-badge-img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid gold;
  box-shadow: 0 0 6px gold;
}
